[submodule "gelato"]
	path = gelato
	url = https://github.com/tiger-punch-sports-club/gelato.git
	branch = master
[submodule "suprahotlib"]
	path = suprahotlib
	url = https://PolygonBoutique@bitbucket.org/suprahot/suprahotlib.git
	branch = master
